<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Country List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Country_ID</th>
            <th>Country Name</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Country of countries">
            <td>{{Country.id}}</td>
            <td>{{Country.countryName}}</td>
          <td><button (click)="deleteCountry(Country.id)" class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button (click)="updateCountry(Country.id)" class="btn btn-success">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>